<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.mysaev.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. Food Drop-Доставка еды</name>

    <description>
        Доставка еды и продуктов.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/aab8330d50778acb00e784f933d38f5d.png" density="ldpi" />
        <icon src="res/android/icon/a808fa710be5fe2700c0792ea50cb219.png" density="mdpi" />
        <icon src="res/android/icon/d7c3555a4c5bea5489851fabeb930d39.png" density="hdpi" />
        <icon src="res/android/icon/a7a38b5c2b970b9d2a01645e667267c2.png" density="xhdpi" />
        <icon src="res/android/icon/7a1e802ffb49796e569f8eb2c3142c27.png" density="xxhdpi" />
        <icon src="res/android/icon/f8b5dda3053346a80d04c1aff96311f3.png" density="xxxhdpi" />

        <splash src="res/android/screen/862b450ca6c2f9dd1b81895daf1682e4.png" density="port-hdpi"/>
        <splash src="res/android/screen/4dc19d31af8ac4c4e36325d53855cdc9.png" density="port-ldpi"/>
        <splash src="res/android/screen/823563d388306fac0374373e9db8b0c5.png" density="port-mdpi"/>
        <splash src="res/android/screen/244e3306a204ea17bee3ca3e20f1b407.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/aab156e25e44fd8265377c5311794039.png" width="180" height="180" />
        <icon src="res/ios/icon/1df56cba1449a5528dbb7d9f5957aca5.png" width="60" height="60" />
        <icon src="res/ios/icon/fefd9db19ceb933a310481b45e163d16.png" width="120" height="120" />
        <icon src="res/ios/icon/88778a164e7ef1a9af455cebf24248fe.png" width="76" height="76" />
        <icon src="res/ios/icon/790b2410cc29a6c8b3bbb6274df6d9e2.png" width="152" height="152" />
        <icon src="res/ios/icon/febffa821f99acf2916b51e56c70eabe.png" width="57" height="57" />
        <icon src="res/ios/icon/20b5d7128e14d695834bcc3c0d745d43.png" width="114" height="114" />
        <icon src="res/ios/icon/5dbf1e531e8c5d55717fb643881971a4.png" width="72" height="72" />
        <icon src="res/ios/icon/e67bedbc7bd73647e5b8958e1a1bb20d.png" width="144" height="144" />
        <icon src="res/ios/icon/87102423c164b7377b878d3569deb884.png" width="167" height="167" />
        <icon src="res/ios/icon/2b83df80ba384493e2952616dccdf5c9.png" width="29" height="29" />
        <icon src="res/ios/icon/7b084109f897812cd8fadcfb88d6390b.png" width="58" height="58" />
        <icon src="res/ios/icon/7ae0813e64c7e239b9c4967542143313.png" width="87" height="87" />
        <icon src="res/ios/icon/7642212d5ff72c0580023b337570a4b6.png" width="167" height="167" />

        <splash src="res/ios/screen/5e1c2b7b4af15d7ef26bdf2a188fad52.png" />
        <splash src="res/ios/screen/02512e5ed5c56f2d5f50b5231cd38013.png" />
        <splash src="res/ios/screen/b5fe09a73f6b80ebc9c31b4d2e11605e.png" />
        <splash src="res/ios/screen/2a83cd74f563afafc0465c0f97fb6f3a.png" />
        <splash src="res/ios/screen/f7ae444d1b6e014e2e22326e7f04a3e6.png" />
        <splash src="res/ios/screen/65d7086e49af75a43a721880def50db0.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/6c744c9e939a847c8998543676655786.png" target="StoreLogo" />
        <icon src="res/windows/icon/66c91f891c0b6b70238e96c72447c3da.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/b1f5e54b71b17554a99a0191201e98be.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/5ef7207dc43fc26c5dc563724f546573.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/38b7f113ab1f616955d9ade9fe4cab65.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/ac0bec2ac2a91300f52fcd6439d3ca8b.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/04fd2c23ffd0e25db54b9bbf9049441e.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/131920896cfae5136683b4c2c1f2aca1.png" target="SplashScreen"/>
        <splash src="res/windows/screen/25d50b4298462c10e01425593777957a.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>